.toolbar {
  height: 80px;
  background: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px;
}
.app-title {
  margin-right: auto;
}
.app-title-link,
.flat-link {
  text-decoration: none;
}
.toolbar-link {
  color: #353535;
}
.toolbar-flat-button {
  background: #ffffff;
  padding: 10px;
  color: blue;
  cursor: pointer;
  margin-left: 10px;
}
#toolbar-user-greeting {
  margin-left: 10px;
}
