.active-elements-container {
  position: relative;
  width: 100%;
  z-index: 4;
}
.active-elements {
  height: 100px;
  background: #7d84ca;
  margin: 0;
  display: flex;
  align-items: center;
}
.active-element-image {
  height: 64px;
  width: 64px;
}
.active-elements-container-fixed-position {
  position: fixed;
  top: 0;
}
.active-elements-list-item {
  position: relative;
  display: flex;
  margin: 5px;
  cursor: pointer;
}
.search-videos-button {
  padding: 10px;
  background: #2c2f5d;
  color: #ffffff;
  box-shadow: 0px 0px 7px 1px #8f8e8e;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.category-icon {
  width: 64px;
  height: 64px;
  background: red;
  position: relative;
  color: #ffffff;
}
.category-icon ul {
  display: none;
  list-style: none;
  background: #ffffff;
  padding: 10px 10px 0;
  flex-direction: column;
  position: absolute;
  top: 100%;
  border: 1px solid gray;
  color: #000;
}
.category-icon:hover ul {
  display: flex
}
.category-icon ul li {
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  padding-right: 30px;
}
.category-close-button-container {
  position: absolute;
  right: 10px;
}
.requested-elements-display {
  display: flex;
  flex-direction: column;
}
.requested-elements-display-title {
  color: #ffffff;
  background: #3c3838;
  padding: 10px;
  text-align: center;
}
.categories-icon-arrow-container {
  display: flex;
}
